.Datanyze-logo {
    width: 150px;
}

.navbar::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 7.5px;
    background: #6769ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #6769ff 0%, #e57777 88%, #ffa762 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #6769ff 0%,#e57777 88%,#ffa762 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #6769ff 0%,#e57777 88%,#ffa762 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6769ff', endColorstr='#ffa762',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
}

#header-offset {
    height: 100px;
}

.navbar {
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
    height: 100px; 
    z-index: 999999999;
    @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.25));
    background: $grey;
    @include transition(all ease-in-out .2s);
    border: none;

    .logo {
        height: 40px;
    }

    .navbar-brand {
        letter-spacing: 1px;
    }
    .nav-dropdown-wrapper {
        margin-right: 12px;
    }
    ul {
        margin: 0;
        padding: 0;
        &.nav {
            margin-top: 5px;
        }
        .nav-dropdown-wrapper {
            display: inline-block;            
            list-style: none;
            @media (max-width: $mq-ipad) {
                padding: 0 15px;
                display: block;
                margin: 0.5rem 0;
            }
            a {
                padding: 11px 8px;
                color: $white;
                @include font-size(16px);
                font-weight: 400;
                letter-spacing: 0.5px;
                text-decoration: none;
            }
        }
    }
    .contact-us-header a {
        padding: 11px 8px;
        color: #FFFFFF;
        font-size: 16px;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
    .dropdown-menu {
        padding: 12px 0;
        background: $grey;
        li {
            display: block;
            padding: 6px 12px;
        }
        a {
            color: $white;
            padding: 5px 22px;
            font-weight: 400;
            white-space: nowrap;
            width: 100%;
            &:hover {
                background: transparent;
                text-decoration: underline;
            }
        }
        @media (max-width: $mq-ipad) {
            display: none !important;
        }
    }
    .dropdown-toggle {
        text-transform: capitalize;
    }

    &-right {
        @media (max-width: $mq-ipad) {
            display: none;
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.98);
    width: 100%;
    height: 100%;
    z-index: 999999999;
    padding: 1.5rem 2.5rem;
    overflow-x: scroll;
    p {
        text-transform: uppercase;
        @include font-size(12px);
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 0.375rem;
    }
    div {
        margin-bottom: 2.25rem;
    }
    li {
        list-style: none;
        margin-bottom: 0.25rem;
        a {
            padding: 4px 0;
            color: $true-blue;
        }
    }
    button {
        float: right;
        border: none;
        padding: 1px 8.5px;
        border: 1px solid $medium-grey;
        @include border-radius(100px);
        background: transparent;

        &:hover {
            cursor: pointer;
            @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.25));
        }
    }
}

.navbar-nav {
    flex-direction: row;
    .dropdown-menu {
        position: absolute;
    }
}

@media (max-width: $mq-ipad) {
    .navbar-collapse {
        background: $grey;
        margin-top: 22px;
        padding: 0;
    }
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus {
        background: $grey;
    }

    .navbar-default .navbar-nav > .open .dropdown-menu {
        display: block !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: $white;
    }
}
