.info-wrapper {
    max-width: 1000px;
    margin: 6rem auto;
    display: block;
    position: relative;
}

.info-grid {
    margin: 0 0 5rem;
    margin-left: 18rem;
    margin-right: 2rem;
    @media only screen and (max-width: $mq-ipad) {
        margin: 0 auto 2rem;
    }

    p {
        padding-top: 0.75rem;
        @include font-size(19px);
        font-family: Georgia, valkyrie-text, serif;
        line-height: 1.632;
        font-feature-settings: 'onum' 1;
        -webkit-font-smoothing: antialiased;
        @media only screen and (max-width: $mq-ipad) {
            position: relative;
            width: 100%;
            padding: 1rem;
        }
    }
}

.info-grid-title {
    margin-left: 18rem;
    margin-right: 2rem;
}

.accent {
    display: block;
    float: left;
    position: absolute;
    margin-left: 0;
    left: 0.5rem;
    width: calc(4.25rem * 3);
    height: 3px;
    &-true-blue {
        background: $true-blue;
    }
    &-light-blue {
        background: $light-blue;
    }
    &-teal {
        background: $teal;
    }    
    &-purple {
        background: $purple;
    }
    &-light-purple {
        background: $light-purple;
    }
    &-red {
        background: $red;
    }
    &-orange {
        background: $orange;
    }
    &-pink {
        background: $pink;
    }
    &-yellow {
        background: $deep-yellow;
    }
}

title-block {
    display: block;
    float: left;
    position: absolute;
    margin-left: 0;
    left: 0.5rem;
    width: calc(4.25rem * 3);
    text-align: right;
    list-style-type: none;
    clear: both;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-feature-settings: 'onum' 0;
    text-transform: uppercase;
    font-weight: 400;
    @include font-size(18px);
    letter-spacing: 0.4px;
    // color: $dark-blue;
    @media only screen and (max-width: $mq-ipad) {
        text-align: left;
        position: relative;
        width: 100%;
        padding: 1rem 0.5rem;
    }
}