.info-wrapper {
    max-width: 1000px;
    margin: 6rem auto;
    display: block;
    position: relative;
}

.info-grid {
    margin: 5rem 0;
    margin-left: 18rem;
    margin-right: 2rem;
    p {
        @include font-size(18px);
        font-family: 'Libre Baskerville', valkyrie-text, serif;
        line-height: 1.65;
        font-feature-settings: 'onum' 1;
    }
}

title-block {
    display: block;
    float: left;
    position: absolute;
    margin-left: 0;
    left: 0.5rem;
    width: calc(4.25rem * 3);
    text-align: right;
    list-style-type: none;
    clear: both;
    margin-bottom: 1rem;
    font-feature-settings: 'onum' 0;
    text-transform: uppercase;
    font-weight: 400;
    @include font-size(18px);
}