.about-name {
	margin: 15px 0 0;
	color: $primary-blue;
	@include font-size(14px);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 18px;
}

a.about-name {
	&:hover {
		color: darken( $primary-blue, 25%);
	}
}

.about-title {
	margin: 0 0 30px;
	font-weight: 300;
	@include font-size(13px);
	color: $p-public;
	text-transform: capitalize;
	clear: both;
	a {
		color: $primary-blue;
	}
}

.about-card {
	margin: 0 0 45px;
	&-investors {
		@media only screen and (max-width: $mq-large) {
			height: 190px;
		}
	}
	&-articles {
		@media only screen and (max-width: $mq-large) {
			height: 250px;
		}
		div	{
			display: flex;
			flex-direction: column;
			h4 {
				font-weight: 400;
				order: 2;
				@media only screen and (min-width: $mq-ipad) {
					max-width: 310px;
				}
			}
			p {
				order: 1;
			}
		}
	}
	img {
		width: 310px;
		@media only screen and (max-width: $mq-ipad) {
			width: auto;
		}
	}
}


.perk-icon {
	display: block;
	height: 60px;
	width: 64px;
	margin: 0 auto;
}

.perk-description {
	margin: 15px auto 0;
	color: $secondary-grey;
	max-width: 115px;
	text-align: center;
	@include font-size(14px);
	text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 18px;
}

.angellist_jobs-tags {
	display: none;
}

.angellist_jobs-title-link, 
.angellist_jobs-title-link:hover, 
.angellist_jobs-title-link:visited, 
.angellist_jobs-title-link:active {
	color: $primary-blue !important;
	text-decoration: underline;
}