.about-banner {
	background: 
	   linear-gradient(135deg, $lightest-grey 25%, transparent 25%) -12.5px 0,
	   linear-gradient(225deg, $lightest-grey 25%, transparent 25%) -12.5px 0,
	   linear-gradient(315deg, $lightest-grey 25%, transparent 25%),
	   linear-gradient(45deg, $lightest-grey 25%, transparent 25%);	
	background-size: 25px 25px;
	background-color: $white;
	background-repeat: repeat;
	background-size: 254px !important;
	background-attachment: fixed !important;

	@media only screen and (max-width: $mq-ipad) {
		background-size: 127px !important;
	}

	&-who-we-are {
		background: url("images/banner-backgrounds/who-we-are-bg.png");
		@include animation( colorchange 15s 0.1s infinite alternate );
	}

	.grid-container {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		@media only screen and (max-width: $mq-ipad) {
			display: block;
			padding: 1rem 0.25rem;
		}
	}

	.content-wrapper {
		@media only screen and (max-width: $mq-ipad) {
			width: 100%;
			img {
				max-height: 200px;
			}
		}
	}

	.content {
		@media only screen and (min-width: $mq-ipad) {
			max-width: 100%;
			margin-left: 15px;
			width: 675px;
			float: right;
			padding: 4rem 1rem;
		}
	}
	
	h1 {
		font-family: 'Libre Baskerville', Georgia, valkyrie-text, serif;
		font-feature-settings: 'onum' 0;
		letter-spacing: 0.5px;
		font-style: italic;
		@media only screen and (max-width: $mq-ipad) {
			@include font-size(28px);
		}
	}


	p {
	 	font-family: 'Libre Baskerville', Georgia, valkyrie-text, serif;
	 	@include font-size(16px);
	 	line-height: 1.632;
	 	font-feature-settings: 'onum' 1;
	 	-webkit-font-smoothing: antialiased;
	}


	.content-wrapper-1 {
		// background-color: $dark-blue; /* Old browsers */
		// background: -moz-linear-gradient(90deg, $dark-blue 0%,   $true-blue 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(90deg, $dark-blue 0%, $true-blue 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(90deg, $dark-blue 0%, $true-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6769ff', endColorstr='#ffa762',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		width: 60%;
		background: $white;
		padding: 1rem;
		@media only screen and (max-width: $mq-ipad) {
			width: calc(100% - 30px);
			margin: 2rem auto;
		}
	}

	.content-wrapper-2 {
		width: 40%;
		text-align: center;
		@media only screen and (max-width: $mq-ipad) {
			padding-top: 1.5rem;
			width: 100%;
		}
		img {
			max-width: 85px;
		}
		@media only screen and (max-width: $mq-xsmall) {
			display: none;
		}
	}

	.accent {
		width: 100px;
	}
}

.filler {
	height: 150px;
	width: 100%;
	background: repeating-linear-gradient(
	    135deg, 
	    $white,
	    $white 10px,
	    $medium-grey 10px,
	    $medium-grey 20px
	);
}

.sub-hero-about {
	padding: 6rem 3rem;
	background: $lightest-grey;
	@media only screen and (max-width: $mq-ipad) {
		padding: 6rem 1rem;
	}
	img {
		position: relative;
		max-width: 100%;
		width: 300px;
		display: block;
		margin: 0 auto 2rem;
		border: 10px solid $white;
		@include box-shadow( 0px, 2px, 5px, rgba(100,100,100,0.5));
		// border-bottom: 80px solid $white;
	}
	// #cat-message {
	// 	position: absolute;
	//     top: 90px;
	//     font-family: Comic sans-serif;
	//     left: calc(50% - 122px);
	//     font-size: 28px;
	// }
	p {
		@include font-size(16px);
	}
}

@keyframes colorchange
    {
      0%   {background-color: $true-blue;}
      25%  {background-color: $pink;}
      50%  {background-color: $orange;}
      75%  {background-color: $light-purple;}
      100% {background-color: $light-blue;}
    }