.about-nav-container {
	background: #f5f8fb;
	text-align: center;
}

.about-nav-links {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	li {
		display: inline-block;
		margin: 0 20px;
		padding: 23px 0 22px;
		@media only screen and (max-width: $mq-ipad) {
			margin: 0 8px;
		}
	}
	a {
		padding: 0 5px 20px;
		color: #a2abb5;
		@include font-size(14px);
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;
		@extend %a-none;
		@include transition(color .2s);
		&:hover {
			color: #576677;
			border-bottom: 3px solid $primary-blue;
		}
	}
}
