.button {
	padding: 11px 28px 9px;
	@include border-radius(2px);
	@include font-size(13px);
	@include transition(ease-in-out 0.2s);
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
    text-align: center;

	&:hover {
		cursor: pointer;
	}
	&-large {
		padding: 1.25rem 3.25rem;
		max-width: 100%;
		@include font-size(14px);
	}
	&-blue {
		background: $true-blue;
		color: $white !important;
		&:hover {
			background: darken($true-blue, 5%);
			color: $white;
		}
	}
	&-orange {
		background: $orange;
		color: $white;
		&:hover {
			background: darken($orange, 5%);
			color: $white;
		}
	}
	&-pink {
		background: $pink;
		color: $white;
		&:hover {
			background: darken($pink, 5%);
			color: $white;
		}
	}
	&-true-blue {
		background: $true-blue;
		color: $white;
		&:hover {
			background: darken($true-blue, 5%);
			color: $white;
		}
	}
	&-light-blue {
		background: $light-blue;
		color: $white;
		&:hover {
			background: darken($light-blue, 5%);
			color: $white;
		}
	}
	
	&-mobile-menu {
		padding: 11px 14px 9px;
		border: 1px solid $white;
		color: $white !important;
	    @media (min-width: $mq-ipad) {
	        display: none !important;
	    }
	}
}