.button {
	padding: 11px 28px 9px;
	@include border-radius(2px);
	@include font-size(13px);
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	&:hover {
		cursor: pointer;
	}
	&-large {
		padding: 1.25rem 3.25rem;
		max-width: 100%;
		@include font-size(14px);
	}
	&-blue {
		background: $true-blue;
		color: $white;
		&:hover {
			background: darken($true-blue, 5%);
			color: $white;
		}
	}
	&-salmon {
		background: $salmon;
		color: $white;
		&:hover {
			background: darken($salmon, 5%);
			color: $white;
		}
	}
	&-true-blue {
		background: $true-blue;
		color: $white;
		&:hover {
			background: darken($true-blue, 5%);
			color: $white;
		}
	}
	&-light-blue {
		background: $light-blue;
		color: $white;
		&:hover {
			background: darken($light-blue, 5%);
			color: $white;
		}
	}
	
	
	&-search {
		padding: 6px 12px;
		margin-right: 18px;
		border: 1px solid $white;
		letter-spacing: 0.25px;
		color: $white;
		background: transparent;
	    margin-top: 6px;
		&:hover {
			font-weight: 500;
			color: $white;
			i {
				font-weight: 500;
			}
		}
	}
}