.cards-home {
	margin: 6rem auto;
	h3 {
		margin: 1rem 0 4rem;
		@include font-size(16px);
		font-feature-settings: 'onum' 0;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;
		text-align: center;
		font-weight: bold;
	}
	p {
		max-width: 650px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 4rem;
		font-weight: 300;
	}
	#home-colors {
	    display: block;
	    max-width: 60px;
	    margin: 0 auto;
	}
}

.cards-wrapper {
	margin: 2rem 0;
	@include transition(0.2s ease-in-out);
	@media (max-width: $mq-ipad) {
		margin: 1.25rem 0;
	}
	&:hover {
		@include transform( scale(1.05) );
		.home-card {
			@include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.25));
		}
	}
	a {
		color: $white;
		font-weight: 200;
		&:hover {
			text-decoration: none;
		}
	}
}

.home-card-links {
	text-decoration: none;
}

.home-card {
	height: 200px;
	padding: 1rem;
	display: block;
	@include transition(0.2s ease-in-out);
	box-shadow: 0 2px 3px rgba(0,0,0,0.06);
	border: 1px solid rgba(150,150,150,0.3);
	border-bottom-color: rgba(125,125,125,0.3);
	box-shadow:inset 0px 0px 0px 1px #fff;
	@media (max-width: $mq-med-bootstrap) {
		margin: 10px 0;
	}

	&:hover {
		img {
			filter: none;
			-webkit-filter: grayscale(0%) brightness(100%);

		}
	}

	img {
		position: absolute;
		bottom: 0;
		right: 15px;
		max-width: calc(100% - 30px);
		width: 225px;
		z-index: 0;
		@include transition(0.2s ease-in-out);
		filter: grayscale(1); /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
		@media (max-width: $mq-med-bootstrap) {
			bottom: 10px;
		}
	}

	

	h2 {
		position: relative;
		z-index: 2;
		text-align: center;
		font-family: 'Libre Baskerville', valkyrie-text, serif;
		@extend .vertical-align-middle-pure;
		@include font-size(28px);
	}

	&-0 {
		background: $deep-yellow;
		border: 4px solid $deep-yellow;
		img {
			filter: grayscale(1) brightness(0.85); /* IE6-9 */
			-webkit-filter: grayscale(100%) brightness(85%); /* Chrome 19+ & Safari 6+ */
		}
	}
	&-1 {
		background: $light-purple;
		border: 4px solid $light-purple;
	}
	&-2 {
		background: $orange;
		border: 4px solid $orange;
		img {
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			width: 325px;
			filter: grayscale(1) brightness(1.2); /* IE6-9 */
			-webkit-filter: grayscale(100%) brightness(120%); /* Chrome 19+ & Safari 6+ */
		}
	}
	&-3 {
		background: $teal;
		border: 4px solid $teal;
		img {
			width: 275px;
			right: -10px;
			bottom: -10px;
		}
	}
	&-4 {
		background: $purple;
		border: 4px solid $purple;
		img {
			width: 275px;
			bottom: -20px;
			right: -5px;
			filter: grayscale(1) brightness(1.2); /* IE6-9 */
			-webkit-filter: grayscale(100%) brightness(120%); /* Chrome 19+ & Safari 6+ */
		}
	}
	&-5 {
		background: $pink;
		border: 4px solid $pink;
		img {
			width: 250px;
		}
	}


}