.cards-home {
	margin: 6rem auto;
	h4 {
		text-align: center;
		margin-bottom: 4rem;
	}
}

.cards-wrapper {
	margin: 2rem 0;
	@include transition(0.2s ease-in-out);
	&:hover {
		@include transform( scale(1.05) );
		.home-card {
			@include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.25));
		}
	}
	a {
		color: $white;
		font-weight: 200;
		&:hover {
			text-decoration: none;
		}
	}
}

.home-card-links {
	text-decoration: none;
}

.home-card {
	height: 200px;
	padding: 1rem;
	display: block;
	@include transition(0.2s ease-in-out);
	box-shadow: 0 2px 3px rgba(0,0,0,0.06);
	border: 1px solid rgba(150,150,150,0.3);
	border-bottom-color: rgba(125,125,125,0.3);
	box-shadow:inset 0px 0px 0px 1px #fff;
	@media (max-width: $mq-med-bootstrap) {
		margin: 10px 0;
	}

	img {
		position: absolute;
		bottom: 0;
		right: 15px;
		max-width: 100%;
		width: 225px;
		z-index: 0;
	}

	h2 {
		position: relative;
		z-index: 2;
		font-family: 'Libre Baskerville', valkyrie-text, serif;
	}

	&-0 {
		background: $deep-yellow;
		border: 4px solid $deep-yellow;
	}
	&-1 {
		background: $light-purple;
		border: 4px solid $light-purple;
	}
	&-2 {
		background: $orange;
		border: 4px solid $orange;
		img {
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			width: 325px;
		}
	}
	&-3 {
		background: $teal;
		border: 4px solid $teal;
		img {
			width: 275px;
			right: -10px;
			bottom: -10px;
		}
	}
	&-4 {
		background: $purple;
		border: 4px solid $purple;
		img {
			width: 275px;
			bottom: -20px;
			right: -5px;
		}
	}
	&-5 {
		background: $pink;
		border: 4px solid $pink;
		img {
			width: 250px;
		}
	}


}