.hero {
	padding: 3rem 0;
	text-align: left;
	h1, h4 {
		margin-bottom: 0.5rem;
		@include font-size(24px);
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.5px;
	}
	p {
		font-family: 'Libre Baskerville', valkyrie-text, serif;
		padding-top: 0.75rem;
		@include font-size(19px);
		font-family: Georgia, valkyrie-text, serif;
		line-height: 1.632;
		font-feature-settings: 'onum' 1;
		-webkit-font-smoothing: antialiased;
	}
	img {
		width: 100%;
		max-width: 300px;
		margin: 2rem auto;
		display: block;
	}
}
