.home-triangle {
	position: absolute;
	bottom: 0;
	&-left {
		left: 0;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 18vh 0 0 80vw;
	    border-color: transparent transparent transparent $white;
	}
	&-right {
		right: 0;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 0 12vh 33vw;
	    border-color: transparent transparent $white transparent;
	}
}
