.product-nav-links {
	margin-bottom: 50px;
	list-style: none;
	padding: 0;
}

.product-nav-icons {
	color: $white;
	font-weight: 300;
	opacity: 0.3;
	@extend %a-none;
	&:hover {
		color: $white;
		opacity: 1;
		.product-icons {
			opacity: 1;
		}
	}
	&.active {
		span,
		.product-icons {
			opacity: 1;
		}
	}
	.product-icons {
		margin: 0 auto 15px;
		opacity: 0.3;
	}

}

.product-icons {
	display: block;
	width: 78px;
	height: 62px;
	clear: both;
	opacity: 1;
}