.banner-service {
	background: $lightest-grey;
	margin-top: 100px;
	padding: 110px 0 100px;

	
	.topic {
		position: absolute;
		top: calc(50% - 15px);
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1.5px;
		color: black;
		font-weight: 500;
		&-left {
			transform: rotate(-90deg);
		}
		&-right {
			transform: rotate(90deg);
		}
		@media only screen and (max-width: $mq-ipad) {
			display: none;
		}
	}
	
	h4 {
		@include font-size(54px);
		line-height: 68px;
		margin-bottom: 24px;
		letter-spacing: 0.5px;
	}

	.cta-wrapper {
		padding: 4rem;
		position: relative;
		z-index: 2;
	}

	.container {
		position: relative;
		width: 1000px;
		// -webkit-box-shadow: inset 0px 0px 13px 0px rgba(71,71,71,0.5);
		// -moz-box-shadow: inset 0px 0px 13px 0px rgba(71,71,71,0.5);
		// box-shadow: inset 0px 0px 13px 0px rgba(71,71,71,0.5);

		@media only screen and (max-width: $mq-large) {
			width: 800px;
		}

		@media only screen and (max-width: $mq-med) {
			width: 650px;
		}

		@media only screen and (max-width: $mq-ipad) {
			width: calc(100% - 60px);
		}
	}

	&-web-design {
		color: $white;

		.container {
			background: $true-blue;
		}
		
		#contact-rose {
			position: absolute;
			height: 425px;
			right: 0;
			bottom: 0;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}

		.topic-left {
			left: -100px;
		}
		.topic-right {
			right: -100px;
		}
	}

	&-seo {
		color: $white;

		.container {
			background: $true-pink;
		}
		
		#contact-parrot {
			position: absolute;
			height: 425px;
			right: 0;
			bottom: 0;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}

		.topic-left {
			left: -65px;
		}
		.topic-right {
			right: -65px;
		}
	}

	&-branding {
		color: $white;

		.container {
			background: $orange;
		}
		
		#contact-lion {
			position: absolute;
			height: 415px;
			right: 0;
			bottom: 0;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}

		.topic-left {
			left: -90px;
		}
		.topic-right {
			right: -90px;
		}
	}

	&-fundraising {
		color: $white;

		.container {
			background: $pink-purple;
		}

		#contact-shark {
			position: absolute;
			height: 350px;
			right: -65px;
			top: -35px;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
		.topic-left {
			left: -150px;
		}
		.topic-right {
			right: -150px;
		}
	}

	&-email-campaigns {
		color: $white;

		.container {
			background: $red;
		}

		#contact-pigeon {
			position: absolute;
			height: 430px;
			right: 0px;
			bottom: 0;
		}
		.topic-left {
			left: -125px;
		}
		.topic-right {
			right: -125px;
		}
	}

	&-ux-design {
		color: $white;

		.container {
			background: $salmon;
		}
		
		#contact-face {
			position: absolute;
			height: 425px;
			right: 0;
			bottom: 0;
		}

		.topic-left {
			left: -90px;
		}
		.topic-right {
			right: -90px;
		}
	}

}