.bannerTransition-appear{
  opacity: 0;
  @include transform( scale(.95) );
}
 
.bannerTransition-appear.bannerTransition-appear-active{
  opacity: 1;
  transition: all .25s ease-in-out;
  @include transform( scale(1) );
}

.banner-service {
	position: relative;
	background: 
	   linear-gradient(135deg, $lightest-grey 25%, transparent 25%) -12.5px 0,
	   linear-gradient(225deg, $lightest-grey 25%, transparent 25%) -12.5px 0,
	   linear-gradient(315deg, $lightest-grey 25%, transparent 25%),
	   linear-gradient(45deg, $lightest-grey 25%, transparent 25%);	
	background-size: 25px 25px;
	background-color: $white;
	padding: 110px 0 100px;
	background-repeat: repeat;
	background-size: 254px !important;
	background-attachment: fixed !important;

	@media only screen and (max-width: $mq-med) {
		padding: 160px 0 100px;
	}

	@media only screen and (max-width: $mq-ipad) {
		padding: 180px 0 80px;
		background-size: 127px !important;
	}

	&-branding {
		background: url("images/banner-backgrounds/branding-bg.png");
	}
	&-email-campaigns {
		background: url("images/banner-backgrounds/email-campaigns-bg.png");
	}
	&-fundraising {
		background: url("images/banner-backgrounds/fundraising-materials-bg.png");
	}
	&-web-design {
		background: url("images/banner-backgrounds/web-design-bg.png");
	}
	&-ux-design {
		background: url("images/banner-backgrounds/ux-design-bg.png");
	}
	&-seo {
		background: url("images/banner-backgrounds/seo-bg.png");
	}

	.current-topic {
		font-family:"AvenirNext Regular";
		display: inline-block;
		padding-bottom: 0.325rem;
		margin-bottom: 1rem;
		@include font-size(12px);
		font-weight: bold;
		font-feature-settings: 'onum' 0;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		color: $white;
		border-bottom: 1px solid white;
	}
	
	.topic-wrapper {
		position: absolute;
		top: 0;
		height: 100%;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1.75px;
		color: $medium-grey;
		font-weight: 400;
		width: 80px;
		text-align: center;
		padding: 10px;
		background: rgba(240, 244, 239, 0.75);
		@include transition(0.2s ease-in-out);

		&:hover {
			color: $grey;
			background: rgba(240, 244, 239, 0.95);
			text-decoration: none;
			@include box-shadow( 0px, 2px, 5px, rgba(82,82,82,0.5));
		}
		
		@media only screen and (max-width: $mq-med) {
			top: 0;
			height: 50px;
		}

		@media only screen and (max-width: 492px) {
			height: 70px;
		}
	}

	.topic {
		position: relative;
    	width: auto;
    	text-align: center;
    	display: inline-block;
    	margin: 0;
    	@extend .vertical-align-middle-pure;
		
	    @media only screen and (min-width: $mq-med-limit) {
    		position: absolute;
    	    top: calc(50% - 2px);
    	    width: 300px;
    	    left: auto;
    	}

		&-left { 
			left: 0;
			&:hover {
				.direction-left {
					@include animation( leftbounce 2.25s infinite );
				}
			}
			@media only screen and (max-width: $mq-med) {
				width: 50%;
			    border-right: 1px solid #cacdca;
			}
			.topic {
				@media only screen and (min-width: $mq-med-limit) {
					right: -120px;
					transform: rotate(-90deg);
				}
			}
		}
		&-right {
			right: 0;
			&:hover {
				.direction-right {
					@include animation( rightbounce 2.25s infinite );
				}
			}
			@media only screen and (max-width: $mq-med) {
				width: 50%;
			}
			.topic {
				@media only screen and (min-width: $mq-med-limit) {
					left: -120px;
					transform: rotate(90deg);
				}
			}
			
		}
	}

	.topic-left {
		@media only screen and (max-width: $mq-ipad) {
			text-align: left;
			.topic {
				text-align: left;
			}
		}
	}

	.topic-right {
		@media only screen and (max-width: $mq-ipad) {
			text-align: right;
			.topic {
				text-align: right;
			}
		}
	}


	.button {
		@include box-shadow( 0px, 2px, 4px, rgba(82,82,82,0.5));
		padding: 11px 56px 9px;

		@media only screen and (max-width: $mq-ipad) {
			max-width: 350px;
			padding: 11px 28px 9px;
			width: 100%;
			display: block;
		}
	}
	
	h4 {
		@include font-size(48px);
		line-height: 1.25;
		margin-bottom: 12px;
		letter-spacing: 0.5px;
		font-family: 'Libre Baskerville', valkyrie-text, serif;
		-webkit-font-smoothing: antialiased;
		@media only screen and (max-width: $mq-ipad) {
			font-weight: bold;
			letter-spacing: 0.25px;
			@include font-size(36px);
			text-shadow: 1px 1px $medium-grey;
		}
	}

	.cta-wrapper {
		padding: 2.5rem 3rem;
		position: relative;
		z-index: 2;
		@media only screen and (max-width: $mq-ipad) {
			padding: 2rem;
		}
		p {
			max-width: 450px;
			margin-bottom: 28px;
		    line-height: 23px;
		    letter-spacing: 0.35px;
		    @include font-size(18px);
			@media only screen and (max-width: $mq-ipad) {
				display: none;
			}
		}
	}

	.container {
		position: relative;
		width: 1000px;
		color: $white;
		// @include box-shadow( 0px, 2px, 5px, rgba(0,0,0,0.25), true);

		@media only screen and (max-width: $mq-large) {
			width: 800px;
		}
		@media only screen and (max-width: $mq-med) {
			width: 650px;
		}
		@media only screen and (max-width: $mq-ipad) {
			width: calc(100% - 60px);
		}

		img {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		
	}

	
	.direction {
		display: inline-block;

		@media only screen and (min-width: $mq-med-limit) {
			position: absolute;
			top: 50%;
		}

		@media only screen and (max-width: $mq-med) {
			margin: 2px 8px;
			vertical-align: text-top;
		}

		@media only screen and (max-width: 520px) {
			display: none;
		}
		&-left {
			transform: rotate(180deg);
			left: 20px;
		}
		&-right {
			right: 20px;
		}
	}

	&-web-design {
		.container {
			background: $deep-yellow;
		}
		#contact-butterfly {
			height: 425px;
			right: 20px;
			@media only screen and (max-width: $mq-ipad) {
				height: 350px;
			}
		}
		
	}

	&-seo {
		.container {
			background: $light-purple;
		}
		#contact-parrot {
			height: 425px;
			@media only screen and (max-width: $mq-ipad) {
				height: 350px;
			}
		}
	}

	&-branding {
		.container {
			background: $orange;
		}
		#contact-lion {
			height: 415px;
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			@media only screen and (max-width: $mq-ipad) {
				height: 345px;
			}
		}
	}

	&-fundraising {
		.container {
			background: $teal;
		}
		#contact-shark {
			height: 350px;
		    right: -25px;
			top: -35px;
			@media only screen and (max-width: $mq-ipad) {
				height: 310px;
				left: 0;
				top: 0;
			}
		}
	}

	&-email-campaigns {
		.container {
			background: $purple;
		}
		#contact-snail {
			height: 420px;
			right: -40px;
			bottom: -20px;
			@media only screen and (max-width: $mq-ipad) {
				height: 310px;
			}
		}
	}

	&-ux-design {
		.container {
			background: $pink;
		}
		#contact-face {
			height: 425px;
			@media only screen and (max-width: $mq-ipad) {
				height: 325px;
			}
		}
	}
}



@include keyframes( leftbounce ){
	0%, 100% { 
		left: 20px;
	}
	62.5% {
		left: 12px;
	}
}


@include keyframes( rightbounce ){
	0%, 100% { 
		right: 20px;
	}
	62.5% {
		right: 12px;
	}
}
