.sub-hero-services-banner {
	background: $grey;
	padding: 6rem 0;
	text-align: center;
	p {
		color: $white;
		max-width: 750px;
		@include font-size(18px);
		line-height: 26px;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 0 auto;
		display: block;
	}
}