.sub-hero-services-banner {
	background: $grey;
	padding: 6rem 0.75rem;
	text-align: center;
	img {
		width: 40px;
		margin-bottom: 1.25rem;
	}
	p {
		color: $white;
		max-width: 750px;
		@include font-size(18px);
		line-height: 26px;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 0 auto;
		display: block;
	}
	h2 {
		color: $white;
		margin: 0 0 1rem;
		font-weight: bold;
	}

	.button {
		display: inline-flex;
		margin-top: 30px;
	}
}