.toggle-teams {
	margin-bottom: 2rem;
	a {
		display: inline-block;
		margin: 30px;
		opacity: 0.5;
		text-align: center;
		&.active {
			opacity: 1;
		}
	}
	img {
		display: block;
		max-width: 150px;
	}
	span {
		display: block;
	}
}

.datanyzer {
	margin: 0 0 50px;
	@media only screen and (min-width: $mq-large) {
		height: 350px;
	}
	@media only screen and (max-width: $mq-large) {
		height: 300px;
	}
	@media only screen and (max-width: 991px) {
		height: 260px;
	}

	img {
		max-width: 100%;
    	width: 100%;
		@media only screen and (max-width: $mq-ipad) {
			margin: 0 auto;
			max-width: 160px;
		}
		@media only screen and (max-width: $mq-small) {
			max-width: 100%;
		}
	}
	.about-title {
		line-height: 18px;
		margin: 4px 0;
	}
}