/*=====================================================================================   Datanyze Color Variables=====================================================================================*/
/*====================================================================================
=   Datanyze Media Query Variables
=====================================================================================*/
/*====================================================================================
=   Datanyze Breakpoints
=====================================================================================*/
/*--- Miscellaneous Mixins & Classes ----*/
h4 {
  line-height: 26px; }

.hero {
  position: relative; }

.vertical-align-middle {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  @media only screen and (max-width: 40em) {
    .vertical-align-middle {
      margin-top: 4rem;
      z-index: 0;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } }
  .vertical-align-middle-home {
    top: calc(27.5% - 38px);
    overflow: hidden;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

footer ul li a, .a-hover {
  text-decoration: none; }
  footer ul li a:hover, .a-hover:hover {
    text-decoration: underline; }

.a-underline {
  text-decoration: underline; }
  .a-underline:hover {
    text-decoration: none; }

.a-underline-important {
  text-decoration: underline !important; }
  .a-underline-important:hover {
    text-decoration: none !important; }

.product-nav-icons, .about-nav-links a, .a-none {
  text-decoration: none; }
  .product-nav-icons:hover, .about-nav-links a:hover, .a-none:hover {
    text-decoration: none; }

.cards-home, .cards-integrations, .cards-home .cards-wrapper, .cards-integrations .cards-wrapper {
  display: flex; }
  @media only screen and (max-width: 62em) {
    .cards-home, .cards-integrations, .cards-home .cards-wrapper, .cards-integrations .cards-wrapper {
      display: block; } }

.clearfix::after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.overflow-visible {
  overflow: visible !important; }

.overflow-hidden {
  overflow: hidden; }

.color-white {
  color: #FFFFFF; }

.dropdown:hover .dropdown-menu {
  display: block; }

.product-nav:hover .dropdown-menu {
  display: inline-flex; }

.toggle:hover {
  cursor: pointer; }

.cursor-pointer {
  cursor: pointer; }

.text-align-center {
  text-align: center; }
  @media only screen and (max-width: 48em) {
    .text-align-center-ipad {
      text-align: center !important; } }
  @media only screen and (max-width: 48em) {
    .text-align-center-until-ipad {
      text-align: left;
      padding: 0 15px; } }

.position-relative {
  position: relative; }

.display-block {
  display: block; }

.display-flex {
  display: flex; }

@media only screen and (min-width: 48em) {
  .display-flex-until-small {
    display: flex; } }

@media only screen and (min-width: 62em) {
  .display-flex-until-med {
    display: flex; } }

@media only screen and (min-width: 75em) {
  .display-flex-until-large {
    display: flex; } }

.bg-light-grey {
  background: #F4F7FA; }

.quote-image-bg-primary-blue,
.bg-primary-blue {
  background: #41C3E5; }

.bg-white {
  background: #FFFFFF; }

.bg-light-blue {
  background: #cbdcec; }

.bg-dark-blue {
  background: #1B1C6A; }

.border-grey {
  border: 1px solid #A3ABB5; }

.m-0-auto {
  margin: 0 auto; }

.m-t-half {
  margin-top: 0.5rem; }

.m-b-half {
  margin-bottom: 0.5rem; }

.m-l-half {
  margin-left: 0.5rem; }

.m-r-half {
  margin-right: 0.5rem; }

.m-t-1 {
  margin-top: 1rem; }

.m-b-1 {
  margin-bottom: 1rem; }

.m-t-2 {
  margin-top: 2rem; }

.m-b-2 {
  margin-bottom: 2rem; }

.m-b-2-important {
  margin-bottom: 2rem !important; }

.m-t-3 {
  margin-top: 3rem; }

.m-b-3 {
  margin-bottom: 3rem; }

.m-t-4 {
  margin-top: 4rem; }

.m-b-4 {
  margin-bottom: 4rem; }

.m-t-5 {
  margin-top: 5rem; }

.m-b-5 {
  margin-bottom: 5rem; }

.m-l-1 {
  margin-left: 1rem; }

.m-r-1 {
  margin-right: 1rem; }

.m-y-1 {
  margin: 1rem 0; }

.m-y-1-auto {
  margin: 1rem auto; }

.m-y-2 {
  margin: 2rem 0; }

.m-y-2-important {
  margin: 2rem 0 !important; }

.m-y-3 {
  margin: 3rem 0; }

.m-y-4 {
  margin: 4rem 0; }

.padding-zero,
.p-0 {
  padding: 0; }

.p-1 {
  padding: 1rem; }

.padding-column {
  padding-left: 15px;
  padding-right: 15px; }

.p-2-0 {
  padding: 2rem 0; }

.p-l-1 {
  padding-left: 1rem; }

.p-r-1 {
  padding-right: 1rem; }

.p-1-2 {
  padding: 1rem 2rem; }

.p-2-1 {
  padding: 2rem 1rem; }

.uppercase {
  text-transform: uppercase; }

.text-white {
  color: #FFFFFF; }

.text-white-important {
  color: #FFFFFF !important; }

.text-align-center {
  text-align: center; }

.text-align-left {
  text-align: left; }

.text-align-left-important {
  text-align: left !important; }

.text-align-right {
  text-align: right; }

.font-size-24 {
  font-size: 24px;
  font-size: 1.5rem; }

.font-size-22 {
  font-size: 22px;
  font-size: 1.375rem; }

.font-size-20 {
  font-size: 20px;
  font-size: 1.25rem; }

.font-size-18 {
  font-size: 18px;
  font-size: 1.125rem; }

.font-size-16 {
  font-size: 16px;
  font-size: 1rem; }

.font-size-15 {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-size-14 {
  font-size: 14px;
  font-size: 0.875rem; }

.font-size-13 {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-size-12 {
  font-size: 12px;
  font-size: 0.75rem; }

.font-size-11 {
  font-size: 11px;
  font-size: 0.6875rem; }

.font-size-10 {
  font-size: 10px;
  font-size: 0.625rem; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-400 {
  font-weight: 400; }

.italic {
  text-decoration: italic; }

.no-list-style {
  list-style: none; }

.max-width-100 {
  max-width: 100%; }

.max-height-100px {
  max-height: 100px; }

.max-height-150px {
  max-height: 150px; }

.max-height-200px {
  max-height: 200px; }

html, body {
  font-family: 'Prompt', sans-serif;
  color: #333333;
  font-size: 16px;
  font-size: 1rem; }

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-flex-flow: row wrap; }

.flex-item {
  -webkit-box-flex: 1 50%;
  -moz-box-flex: 1 50%;
  -webkit-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%; }

.Datanyze-logo {
  width: 150px; }

.navbar::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: #6769ff;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #6769ff 0%, #e57777 88%, #ffa762 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #6769ff 0%, #e57777 88%, #ffa762 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #6769ff 0%, #e57777 88%, #ffa762 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6769ff', endColorstr='#ffa762',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 100%; }

#header-offset {
  height: 100px; }

.navbar {
  width: 100%;
  max-width: 100%;
  padding-top: 30px;
  height: 100px;
  z-index: 999999999;
  background: #FFFFFF;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s; }
  .navbar .logo {
    display: inline-block;
    height: 30px;
    margin-right: 15px;
    margin-top: -5px; }
  .navbar a {
    color: #333333 !important;
    display: block; }
  .navbar .navbar-brand {
    letter-spacing: 1px; }
  .navbar ul {
    margin: 0;
    padding: 0; }
    .navbar ul.nav {
      margin-top: 5px; }
    .navbar ul li {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 0;
      list-style: none; }
      .navbar ul li a {
        padding: 11px 8px;
        color: #333333;
        font-size: 16px;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-decoration: none; }
  .navbar .dropdown-menu {
    padding: 12px 0; }
    .navbar .dropdown-menu a {
      color: #333333;
      padding: 5px 22px;
      font-weight: 400;
      white-space: nowrap;
      width: 100%; }
      .navbar .dropdown-menu a:hover {
        background: transparent;
        text-decoration: underline; }
  .navbar .dropdown-toggle {
    text-transform: capitalize; }

footer {
  bottom: 0;
  width: 100vw;
  margin: 0;
  position: relative;
  background: #262627;
  padding: 35px 0 0;
  z-index: 1; }
  footer .row {
    position: relative;
    z-index: 10; }
  footer ul {
    margin: 0;
    padding: 0; }
    footer ul li {
      list-style: none;
      color: #FFFFFF;
      font-size: 12px;
      font-size: 0.75rem;
      line-height: 22px; }
      footer ul li:nth-child(1) {
        margin: 25px 0 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px; }
      footer ul li a {
        color: #FFFFFF;
        font-size: 12px;
        font-size: 0.75rem;
        font-weight: 100;
        letter-spacing: 0.5px; }
        @media only screen and (max-width: 62em) {
          footer ul li a {
            word-break: break-word; } }
      footer ul li.footer-info {
        color: #FFFFFF;
        font-size: 12px;
        font-size: 0.75rem;
        font-weight: 100;
        letter-spacing: 0.5px; }
    footer ul.copyright-footer {
      display: inline-block;
      margin-bottom: 10px; }
      footer ul.copyright-footer li {
        margin-right: 4px;
        display: inline-block;
        text-transform: capitalize; }
    footer ul.social-links-footer {
      float: right; }
      @media only screen and (max-width: 48em) {
        footer ul.social-links-footer {
          display: block;
          float: none; } }
      footer ul.social-links-footer li {
        margin-left: 6px;
        display: inline-block; }
      footer ul.social-links-footer .fa {
        font-size: 22px;
        font-size: 1.375rem;
        color: #FFFFFF; }
  footer .footer-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 1200px;
    max-width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  footer #omega-section {
    position: relative;
    padding-bottom: 12px;
    z-index: 9; }

.below-hero-section {
  padding: 80px 0 105px; }
  .below-hero-section-grey {
    background-color: #F4F7FA !important; }
  .below-hero-section-technographics img {
    display: block;
    margin: 1rem auto 0; }
  .below-hero-section h2 {
    color: #444d69;
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: 0.25px;
    font-weight: 300; }
  .below-hero-section p {
    margin-bottom: 1.25rem;
    font-weight: 300;
    line-height: 24px; }
    .below-hero-section p a {
      font-weight: 400; }
  .below-hero-section img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }

.below-hero-section-padding {
  padding: 80px 0 105px; }

.info-wrapper {
  max-width: 1000px;
  margin: 6rem auto;
  display: block;
  position: relative; }

.info-grid {
  margin: 5rem 0;
  margin-left: 18rem;
  margin-right: 2rem; }
  @media only screen and (max-width: 48em) {
    .info-grid {
      margin: 0 auto; } }
  .info-grid p {
    font-size: 19px;
    font-size: 1.1875rem;
    font-family: Georgia, valkyrie-text, serif;
    line-height: 1.632;
    font-feature-settings: 'onum' 1;
    -webkit-font-smoothing: antialiased; }
    @media only screen and (max-width: 48em) {
      .info-grid p {
        position: relative;
        width: 100%;
        padding: 1rem; } }

title-block {
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 0.5rem;
  width: calc(4.25rem * 3);
  text-align: right;
  list-style-type: none;
  clear: both;
  margin-bottom: 1rem;
  font-feature-settings: 'onum' 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 48em) {
    title-block {
      text-align: left;
      position: relative;
      width: 100%;
      padding: 1rem; } }

.button {
  padding: 11px 28px 9px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  font-size: 13px;
  font-size: 0.8125rem;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400; }
  .button:hover {
    cursor: pointer; }
  .button-large {
    padding: 1.25rem 3.25rem;
    max-width: 100%;
    font-size: 14px;
    font-size: 0.875rem; }
  .button-blue {
    background: #696AFD;
    color: #FFFFFF; }
    .button-blue:hover {
      background: #5051fd;
      color: #FFFFFF; }
  .button-orange {
    background: #FFA762;
    color: #FFFFFF; }
    .button-orange:hover {
      background: #ff9949;
      color: #FFFFFF; }
  .button-pink {
    background: #E57777;
    color: #FFFFFF; }
    .button-pink:hover {
      background: #e16262;
      color: #FFFFFF; }
  .button-true-blue {
    background: #696AFD;
    color: #FFFFFF; }
    .button-true-blue:hover {
      background: #5051fd;
      color: #FFFFFF; }
  .button-light-blue {
    background: #D4EDF8;
    color: #FFFFFF; }
    .button-light-blue:hover {
      background: #bee4f4;
      color: #FFFFFF; }
  .button-search {
    padding: 6px 12px;
    margin-right: 18px;
    border: 1px solid #FFFFFF;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    background: transparent;
    margin-top: 6px; }
    .button-search:hover {
      font-weight: 500;
      color: #FFFFFF; }
      .button-search:hover i {
        font-weight: 500; }

.home-card-links {
  text-decoration: none; }

.cards {
  padding: 1rem;
  background-size: cover !important;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-bottom-color: rgba(125, 125, 125, 0.3); }
  @media (max-width: 62em) {
    .cards {
      margin: 10px 0; } }
  .cards .small-accent {
    margin: 0 0 10px;
    width: 35px;
    height: 2px;
    background: #41C3E5; }
  .cards-home {
    margin: 3rem auto;
    cursor: pointer; }
    @media only screen and (min-width: 40em) {
      .cards-home .cards {
        padding-bottom: 60px; } }
    .cards-home .cards:hover {
      -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35); }
    @media only screen and (min-width: 40em) {
      .cards-home .button-wrap {
        position: absolute;
        bottom: 25px; } }
  .cards-integrations {
    text-align: center;
    margin-bottom: 3rem; }
    .cards-integrations img {
      max-height: 60px; }
      .cards-integrations img#hubspot {
        margin: 10px 0 6px;
        max-width: 150px; }
    .cards-integrations .cards {
      padding: 2rem 1rem;
      border: 1px solid #e4e0e0; }
    .cards-integrations-smaller img {
      max-height: 35px; }
  .cards.active {
    outline: 1px solid #41C3E5;
    border: 1px solid #41C3E5; }
    .cards.active .small-accent {
      width: 100%; }
      @media only screen and (max-width: 48em) {
        .cards.active .small-accent {
          background: #41C3E5; } }

.product-nav-links {
  margin-bottom: 50px;
  list-style: none;
  padding: 0; }

.product-nav-icons {
  color: #FFFFFF;
  font-weight: 300;
  opacity: 0.3; }
  .product-nav-icons:hover {
    color: #FFFFFF;
    opacity: 1; }
    .product-nav-icons:hover .product-icons {
      opacity: 1; }
  .product-nav-icons.active span,
  .product-nav-icons.active .product-icons {
    opacity: 1; }
  .product-nav-icons .product-icons {
    margin: 0 auto 15px;
    opacity: 0.3; }

.product-icons {
  display: block;
  width: 78px;
  height: 62px;
  clear: both;
  opacity: 1; }

.about-nav-container {
  background: #f5f8fb;
  text-align: center; }

.about-nav-links {
  list-style: none;
  margin-bottom: 0;
  padding: 0; }
  .about-nav-links li {
    display: inline-block;
    margin: 0 20px;
    padding: 23px 0 22px; }
    @media only screen and (max-width: 48em) {
      .about-nav-links li {
        margin: 0 8px; } }
  .about-nav-links a {
    padding: 0 5px 20px;
    color: #a2abb5;
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .about-nav-links a:hover {
      color: #576677;
      border-bottom: 3px solid #41C3E5; }

.hero {
  height: calc(55vh);
  min-height: 400px;
  text-align: center;
  background: #262627;
  margin-top: 76px; }
  .hero h1, .hero h4 {
    color: #FFFFFF; }

.hero-left {
  height: calc(55vh);
  min-height: 400px;
  text-align: left;
  margin-top: 100px;
  background: #262627; }

.hero-flex-left {
  align-self: center;
  justify-content: right; }

.hero-text {
  max-width: 550px;
  color: #FFFFFF;
  margin: 0 1rem 0 auto; }
  .hero-text h1 {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 1.25rem; }
  .hero-text h4 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 200; }

#seo-hero {
  background-image: url("images/backgrounds/library.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #FFFFFF; }

.banner-service {
  background: linear-gradient(135deg, #F0F4EF 25%, transparent 25%) -12.5px 0, linear-gradient(225deg, #F0F4EF 25%, transparent 25%) -12.5px 0, linear-gradient(315deg, #F0F4EF 25%, transparent 25%), linear-gradient(45deg, #F0F4EF 25%, transparent 25%);
  background-size: 25px 25px;
  background-color: #FFFFFF;
  padding: 100px 0 90px; }
  .banner-service .topic {
    position: absolute;
    top: calc(50% - 15px);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.75px;
    color: #333333;
    font-weight: 400; }
    .banner-service .topic-left {
      transform: rotate(-90deg); }
    .banner-service .topic-right {
      transform: rotate(90deg); }
    @media only screen and (max-width: 48em) {
      .banner-service .topic {
        display: none; } }
  .banner-service .button {
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 48em) {
      .banner-service .button {
        max-width: 350px;
        margin: 0 auto;
        width: 100%;
        display: block; } }
  .banner-service h4 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.25;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
    font-family: 'Libre Baskerville', valkyrie-text, serif;
    -webkit-font-smoothing: antialiased; }
    @media only screen and (max-width: 48em) {
      .banner-service h4 {
        text-align: center;
        letter-spacing: 0.25px;
        font-size: 36px;
        font-size: 2.25rem; } }
  .banner-service .cta-wrapper {
    padding: 2.5rem 3rem;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 48em) {
      .banner-service .cta-wrapper {
        padding: 2rem; } }
    .banner-service .cta-wrapper p {
      max-width: 450px;
      margin-bottom: 24px; }
  .banner-service .container {
    position: relative;
    width: 1000px;
    color: #FFFFFF; }
    @media only screen and (max-width: 75em) {
      .banner-service .container {
        width: 800px; } }
    @media only screen and (max-width: 62em) {
      .banner-service .container {
        width: 650px; } }
    @media only screen and (max-width: 48em) {
      .banner-service .container {
        width: calc(100% - 60px); } }
    .banner-service .container img {
      position: absolute;
      bottom: 0;
      right: 0; }
  .banner-service-web-design .container {
    background: #fbca5c; }
  .banner-service-web-design #contact-butterfly {
    height: 425px;
    right: 20px; }
    @media only screen and (max-width: 48em) {
      .banner-service-web-design #contact-butterfly {
        height: 350px; } }
  .banner-service-web-design .topic-left {
    left: -100px; }
  .banner-service-web-design .topic-right {
    right: -100px; }
  .banner-service-seo .container {
    background: #E3B5E0; }
  .banner-service-seo #contact-parrot {
    height: 425px; }
    @media only screen and (max-width: 48em) {
      .banner-service-seo #contact-parrot {
        height: 350px; } }
  .banner-service-seo .topic-left {
    left: -65px; }
  .banner-service-seo .topic-right {
    right: -65px; }
  .banner-service-branding .container {
    background: #FFA762; }
  .banner-service-branding #contact-lion {
    height: 415px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
    @media only screen and (max-width: 48em) {
      .banner-service-branding #contact-lion {
        height: 345px; } }
  .banner-service-branding .topic-left {
    left: -90px; }
  .banner-service-branding .topic-right {
    right: -90px; }
  .banner-service-fundraising .container {
    background: #93E2DD; }
  .banner-service-fundraising #contact-shark {
    height: 350px;
    right: -65px;
    top: -35px; }
    @media only screen and (max-width: 48em) {
      .banner-service-fundraising #contact-shark {
        height: 310px;
        left: 0;
        top: 0; } }
  .banner-service-fundraising .topic-left {
    left: -155px; }
  .banner-service-fundraising .topic-right {
    right: -155px; }
  .banner-service-email-campaigns .container {
    background: #B271AE; }
  .banner-service-email-campaigns #contact-snail {
    height: 420px;
    right: -40px;
    bottom: -20px; }
    @media only screen and (max-width: 48em) {
      .banner-service-email-campaigns #contact-snail {
        height: 310px; } }
  .banner-service-email-campaigns .topic-left {
    left: -125px; }
  .banner-service-email-campaigns .topic-right {
    right: -125px; }
  .banner-service-ux-design .container {
    background: #E57777; }
  .banner-service-ux-design #contact-face {
    height: 425px; }
    @media only screen and (max-width: 48em) {
      .banner-service-ux-design #contact-face {
        height: 325px; } }
  .banner-service-ux-design .topic-left {
    left: -90px; }
  .banner-service-ux-design .topic-right {
    right: -90px; }

.sub-hero-services-banner {
  background: #262627;
  padding: 6rem 0;
  text-align: center; }
  .sub-hero-services-banner p {
    color: #FFFFFF;
    max-width: 750px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    display: block; }

.ReactModal__Overlay {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75) !important; }

.main-contact-modal {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  padding: 20px;
  right: 0;
  visibility: visible;
  width: 25vw;
  max-width: 300px;
  min-width: 250px;
  z-index: 99999;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 5%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  @media only screen and (max-width: 62em) {
    .main-contact-modal {
      width: 100%;
      max-width: 100vw;
      left: 0;
      overflow: scroll; } }
  .main-contact-modal #slide-in-contact-form {
    position: absolute;
    left: -275px;
    top: 50%;
    width: 250px;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.42s;
    -moz-transition: all 0.42s;
    -o-transition: all 0.42s;
    transition: all 0.42s; }
    @media only screen and (max-width: 62em) {
      .main-contact-modal #slide-in-contact-form {
        margin-top: 2em;
        position: relative;
        top: auto;
        width: 100%;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none; } }
    .main-contact-modal #slide-in-contact-form input[type="text"] {
      padding: 8px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-clip: padding-box; }
    .main-contact-modal #slide-in-contact-form textarea {
      width: 100%;
      padding: 8px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-clip: padding-box; }
  .main-contact-modal .h2 {
    color: #FFFFFF !important; }
  .main-contact-modal .demo-modal-message {
    position: absolute;
    margin-right: 10px;
    top: calc(50% - 130px);
    overflow: auto; }
  .main-contact-modal .form-group {
    margin-bottom: 8px;
    font-size: 14px;
    font-size: 0.875rem; }
    .main-contact-modal .form-group input, .main-contact-modal .form-group textarea {
      font-size: 14px;
      font-size: 0.875rem; }

.input-lg {
  font-size: 14px;
  font-size: 0.875rem; }

.cta-banner {
  position: relative;
  background: #41C3E5;
  padding: 6rem 0;
  text-align: center; }
  .cta-banner .cta-wrapper {
    padding: 1rem 3rem;
    position: relative;
    display: inline-block;
    z-index: 99; }
    .cta-banner .cta-wrapper h4 {
      font-size: 42px;
      font-size: 2.625rem;
      line-height: 48px; }
  .cta-banner .cta-information {
    margin-top: 1rem;
    position: relative;
    z-index: 20; }

.about-name {
  margin: 15px 0 0;
  color: #41C3E5;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 18px; }

a.about-name:hover {
  color: #147892; }

.about-title {
  margin: 0 0 30px;
  font-weight: 300;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #8391A1;
  text-transform: capitalize;
  clear: both; }
  .about-title a {
    color: #41C3E5; }

.about-card {
  margin: 0 0 45px; }
  @media only screen and (max-width: 75em) {
    .about-card-investors {
      height: 190px; } }
  @media only screen and (max-width: 75em) {
    .about-card-articles {
      height: 250px; } }
  .about-card-articles div {
    display: flex;
    flex-direction: column; }
    .about-card-articles div h4 {
      font-weight: 400;
      order: 2; }
      @media only screen and (min-width: 48em) {
        .about-card-articles div h4 {
          max-width: 310px; } }
    .about-card-articles div p {
      order: 1; }
  .about-card img {
    width: 310px; }
    @media only screen and (max-width: 48em) {
      .about-card img {
        width: auto; } }

.perk-icon {
  display: block;
  height: 60px;
  width: 64px;
  margin: 0 auto; }

.perk-description {
  margin: 15px auto 0;
  color: #768698;
  max-width: 115px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 18px; }

.angellist_jobs-tags {
  display: none; }

.angellist_jobs-title-link,
.angellist_jobs-title-link:hover,
.angellist_jobs-title-link:visited,
.angellist_jobs-title-link:active {
  color: #41C3E5 !important;
  text-decoration: underline; }

#ultimate-wrapper {
  position: relative;
  width: 100%;
  height: 120vh; }

#home-wrapper {
  min-height: 100%;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

.scene {
  position: relative;
  overflow: hidden;
  height: 100vh !important;
  pointer-events: all; }

.scene, .layer {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
  .scene div, .layer div {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }

#main-bg {
  position: absolute;
  background-image: url("images/backgrounds/sky-lake.png");
  background-repeat: no-repeat;
  top: -2%;
  left: -2%;
  right: -2%;
  bottom: -2%;
  height: 100%; }

.mountain-range {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

#m1, #m2, #m3 {
  max-width: 100%; }

#m2 {
  background-image: url("images/backgrounds/m2.png");
  z-index: 3;
  display: block;
  position: absolute;
  top: 0;
  left: -5%;
  right: -5%;
  bottom: 2%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }

#m3 {
  background-image: url("images/backgrounds/m3.png");
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  left: -5%;
  right: -5%;
  bottom: 2%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }

#m3 {
  top: 30%;
  z-index: 1;
  right: 0; }
